body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
}

.custom-navbar{
    background-color: #F9D5E3;
    color: #ffffff;
}

.nav-item {
    margin-right: 20px;
}


.navbar-brand {
    font-size: 30px; 
}

.nav-link {
    font-size: 20px;
}


.custom-div {
    margin-top: 100px;
}

.custom-div h1 {
    margin-bottom: 30px;
}

.fixed-image {
    max-width: 100%;
    height: auto;
}

.paragrafos{
    padding: 10px;
    text-align: justify;
}

.fixed-image{
    align-items: center;
}

.titulos{
   text-align: center;
}

.bg-image {
    background-image: url('../IMG/pexels-anna-shvets-3900426.jpg');
    background-size: cover;
    /* background-position: center; */
    background-attachment: fixed;
    color: #ffffff;
    font-style: oblique;
    
}

.bg-image-content {
    background-color: rgba(0, 0, 0, 0.038); 
    padding: 20px; /* Espaçamento interno para o conteúdo */
}

/* .btn{
    background-color: #F9D5E3;
    border-color: #F9D5E3;
    
}
.btn:hover{
    background-color: #F9D5E3;
    border-color: #F9D5E3;
}

.btn::backdrop{
    background-color: #F9D5E3;
    border-color: #F9D5E3;
} */

.form-group{
    padding: 10px;
    text-align: justify; 
}


@media (max-width: 767px) {
    .fixed-image {
        width: 100%;;
    }
}

