body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
}

.custom-navbar{
    background-color: #F9D5E3;
    color: #ffffff;
}

.nav-item {
    margin-right: 20px;
}


.navbar-brand {
    font-size: 30px; 
}

.nav-link {
    font-size: 20px;
}


.custom-div {
    margin-top: 100px;
}

.custom-div h1 {
    margin-bottom: 30px;
}

.fixed-image {
    max-width: 100%;
    height: auto;
}

.paragrafos{
    padding: 10px;
    text-align: justify;
}

.fixed-image{
    align-items: center;
    width: 70%;
}

.titulos{
   text-align: center;
}

.bg-image {
    background-image: url('../IMG/pexels-anna-shvets-3900426.jpg');
    background-size: cover;
    /* background-position: center; */
    background-attachment: fixed;
    color: #ffffff;
    font-style: oblique;
}

.bg-image-content {
    background-color: rgba(0, 0, 0, 0.038); 
    padding-left: 20px;
}

.btn{
    background-color: #F9D5E3;
    /* border-color: #F9D5E3; */
    color: #ffffff;
    
}
.btn:hover{
    background-color: #F9D5E3;
    border-color: #F9D5E3;
    color: rgba(0, 0, 0, 0.547);
}

.btn::backdrop{
    background-color: #F9D5E3;
    border-color: #F9D5E3;
}

.form-group{
    padding: 10px;
    text-align: justify; 
}


.footer-basic {
    padding:40px 0;
    background-color:#ffffff;
    color:#4b4c4d;
  }
  
  .footer-basic ul {
    padding:0;
    list-style:none;
    text-align:center;
    font-size:18px;
    line-height:1.6;
    margin-bottom:0;
  }
  
  .footer-basic li {
    padding:0 10px;
  }
  
  .footer-basic ul a {
    color:inherit;
    text-decoration:none;
    opacity:0.8;
  }
  
  .footer-basic ul a:hover {
    opacity:1;
  }

  .footer-basic .copyright {
    margin-top:15px;
    text-align:center;
    font-size:13px;
    color:#aaa;
    margin-bottom:0;
  }




@media (max-width: 767px) {
    .fixed-image {
        width: 100%;;
    }
}

@media (max-width: 767px) {
    .img_IA {
        width: 70%;
    }
}

@media (max-width: 767px) {
    .img_diag {
        width: 70%;
    }
}