
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;700&family=Handlee&family=Kaushan+Script&family=Pacifico&display=swap');

body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1.25rem;  
}

html {
    scroll-behavior: smooth;
}

.custom-navbar{
    background-color: #ffffff;
    background-image: url('../IMG/fundo.png');
    background-size: cover;
    border-bottom: 0.125rem solid rgba(0, 0, 0, 0.055);
}

.Sobre_a_IA{
    margin-top: -3.125rem;
}

#Diagnóstico{
    margin-top: 2.313rem; 
}

#btnPrevisao{
    margin-top: 2.313rem;
    margin-bottom: 2.313rem;
}

.nav-item {
    margin-right: 1.25rem;
}


.navbar-brand {
    font-size: 1.875rem; 
    font-family: 'Handlee', cursive;
}

.nav-link {
    font-size: 1.25rem;
    font-family: 'Handlee', cursive;
    
}

.custom-div {
    margin-top: 6.25rem;
}

.custom-div h1 {
    margin-bottom: 1.875rem;
}


.paragrafos{
    padding: 0.625rem;
    text-align: justify;
}


#breast {
    margin: 0 auto;
    display: block;
    display: flex;
    align-items: center;
    width: 60%;

    border-radius: 2rem;
}


.titulos{
   text-align: center;
    
}

/* .info {
    background-image: url('../IMG/pexels-anna-shvets-3900426.jpg');
    background-size: cover;
    background-position: 20% 0;
    background-attachment: fixed;
    color: #000000; 
    background-color: #ffffff;
    
} */


.bg-image-content {
    padding-left: 1.25rem;
}

.btn{
    background-color: #ffffff;
    color: #000000;
    
}
.btn:hover{
    background-color: #ffffff;
    border-color: #ffffff;
    color: rgba(0, 0, 0, 0.547);
}

.btn::backdrop{
    background-color: #ffffff;
    border-color: #F9D5E3;
}

.form-group{
    padding: 0.625rem;
    text-align: justify; 
}

.col-md-5{
    margin-right: auto;
    margin-left: auto;
}

.forms{
    background-image: url('../IMG/pexels-anna-shvets-3900426.jpg');
    background-size: cover;
    background-position: 20% 0;
    background-attachment: fixed;
    color: #000000; 
    background-color: #ffffff;
    font-style: oblique; 
}

.footer-basic {
    font-family: 'Handlee', cursive;
    font-size: 1.25rem;
    padding: 2.5rem 0;
    background-color: #ffffff;
    background-size: cover;
    background-image: url('../IMG/fundo.png');
    border-top: 0.125 solid rgba(0, 0, 0, 0.055);
}

  
.footer-basic ul {
    padding:0;
    list-style:none;
    text-align:center;
    font-size:1.125rem;
    line-height:1.6;
    margin-bottom:0;
  }
  
.footer-basic li {
    padding:0 0.625rem;
  }
  
.footer-basic ul a {
    color:inherit;
    text-decoration:none;
    opacity:0.8;
  }
  
.footer-basic ul a:hover {
    opacity:1;
  }

.footer-basic .copyright {
    margin-top:0.9375rem;
    text-align:center;
    font-size:0.8125rem;
    color:#8a8a8a;
    margin-bottom:0;
  }

.img_diag{
    margin: 0 auto;
    display: block;
    display: flex;
    align-items: center;
    width: 60%;
    
    border-radius: 2rem;
}

.container-fluid{
    margin: 0 auto;
    display: flex;
    align-items: center;
  }
 
  
.img_IA{
    margin: 0 auto;
    display: block;
    display: flex;
    align-items: center;
    width: 60%;

    border-radius: 2rem;
}


@media (max-width: 47.9375rem) {
    #breast{
        width: 100%;
        border-radius: 0rem;
    }
    .img_diag{
        width: 100%;
        border-radius: 0rem;
    }
    .img_IA{
        width: 100%;
        border-radius: 0rem;
    }
}

