<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'CSS/bootstrap.css' %}">
    {% load static %}
    <link rel="stylesheet" href="{% static 'CSS/style.css' %}"> 
    {% load static %}
    <link rel="icon" href="{% static 'IMG/icon.png' %}" type="image/png">
    <title>Breast Cancer AI</title>
</head>
<body>
 
    <nav class="navbar navbar-expand-lg navbar-light custom-navbar fixed-top">
        <a class="navbar-brand" href="#">Breast Cancer AI</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="#">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#Câncer de Mama">Câncer de Mama</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#Sobre a IA">Sobre a IA</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#Diagnóstico">Diagnóstico</a>
            </li>
          </ul>
        </div>
      </nav>


      <div class="container custom-div">
        <div class="row">
            <div class="col-md-12 text-center">
                <h1 class="titulos">A inteligência artificial que pode salvar vidas</h1>
                <p class="paragrafos">O nosso portal foi criado com a missão de revolucionar o diagnóstico e tratamento do câncer de mama,
                   é um sistema avançado que utiliza o "Breast Cancer Wisconsin Diagnostic Dataset" como sua espinha dorsal. 
                   Este portal foi concebido com o objetivo de fornecer uma plataforma de diagnóstico de última geração, 
                   capaz de oferecer informações altamente precisas e confiáveis para melhorar substancialmente a detecção precoce 
                   e o tratamento eficaz do câncer de mama. Em essência, nosso portal é uma ferramenta poderosa para médicos, 
                   pesquisadores e pacientes, oferecendo acesso a um vasto conjunto de dados clínicos e de diagnóstico contidos 
                   no "Breast Cancer Wisconsin Diagnostic Dataset", a fim de promover avanços na área da saúde. </p>
            </div>
            <div class="col-md-12 order-md-1 img_home">
                {% load static %}
                <img src="{% static 'IMG/pexels-leeloo-thefirst-7792641.jpg' %}" alt="Breast Cancer" class="img-fluid fixed-image" id= "breast">
            </div>
        </div>
    </div>

    <div class="container my-5">
        <div class="row">
            <div class="col-md-12 text-center">
                <h1 class="titulos" id="Câncer de Mama">Câncer de Mama</h1>
                <p class="paragrafos">O câncer de mama é uma doença que se origina nas células do tecido mamário. 
                  Normalmente, as células do corpo se dividem e se regeneram de forma controlada, 
                  mas no câncer de mama, essas células sofrem mutações e crescem de maneira desordenada. 
                  Isso pode resultar na formação de tumores malignos ou benignos nas mamas.
                  Vários fatores podem aumentar o risco de desenvolver câncer de mama, incluindo idade avançada, 
                  histórico familiar da doença, mutações genéticas, exposição a estrogênio, obesidade, consumo de álcool e radiação ionizante.</p>
                  <p class="paragrafos"> Os sintomas do câncer de mama podem incluir a presença de um nódulo na mama ou axila, alterações na forma ou tamanho da mama, 
                    dor mamária, alterações na pele da mama, secreção mamilar anormal e alterações no mamilo. O diagnóstico envolve exames como mamografia, 
                    ultrassonografia, ressonância magnética, biópsia e outros.</p>
                    <br> 
                    {% load static %}
                  <img src="{% static 'IMG/diagnostico.jpg' %}" alt="Diagnóstico" class="img_diag">
                  <br> 
                  <br> 
            </div>
        </div>
    </div>


    <div class="container my-5">
        <div class="row">
            <div class="col-md-12 text-center">
                <h2 class="titulos" class="Sobre_a_IA" id="Sobre a IA">Como Utilizamos a IA:</h2>
                <br>
                {% load static %}
                <img src="{% static 'IMG/IA.webp' %}" alt="IA" class="img_IA">
                <br>
                <br>
                <p class="paragrafos">Nossa plataforma utiliza a inteligência artificial (IA) para analisar os dados clínicos e as características das células presentes em amostras de biópsia. Com base nessa análise, nosso sistema classifica as amostras como "Malignas" (indicando câncer) ou "Benignas" (não cancerosas).</p>
            </div>
        </div>
    </div>

    <div class="container my-5 forms">
      <div class="row">
          <div class="col-md-5 text-center">
              <h2 class="titulos" id="Diagnóstico">Diagnóstico</h2>
              <br>
              <form>
                  <p class="paragrafos">Preencha os campos com base no Breast Cancer Wisconsin Diagnostic Dataset:<p>
                    
                  <div class="form-group">
                      <label for="campo1">Raio Médio:</label>
                      <input type="number" class="form-control" id="campo1" name="campo1" step="0.001" required>
                  </div>
                
                  <div class="form-group">
                      <label for="campo2">Perímetro Médio:</label>
                      <input type="number" class="form-control" id="campo2" name="campo2" step="0.01" required>
                  </div>

                  <div class="form-group">
                    <label for="campo3">Área Média:</label>
                    <input type="number" class="form-control" id="campo3" name="campo3" step="0.1" required>
                  </div>

                   <div class="form-group">
                      <label for="campo4">Compacidade Média:</label>
                      <input type="number" class="form-control" id="campo4" name="campo4" step="0.00001" required>
                  </div>

                  <div class="form-group">
                    <label for="campo5">Pontos Côncavos Médios:</label>
                    <input type="number" class="form-control" id="campo5" name="campo5" step="0.000001" required>
                  </div>

                  <div class="form-group">
                    <label for="campo6">Diagnóstico:</label>
                    <!-- <span id="resultado"></span>  -->
                    <input type="text" class="form-control" id="resultado" name="campo6" readonly>
                  </div>

                 
                  <!-- <button type="submit" class="btn btn-primary">Resultado</button> -->
                  <button class="btn" type="button"  id="btnPrevisao">Resultado</button>
              </form>
          </div>
      </div>
  </div>

  <div class="container my-5 info">
    <div class="row">
        <div class="col-md-12 text-center">
          <br> 
        <h1 class="titulos">Vamos Vencer o Câncer de Mama!</h1>
        <p class="paragrafos">Outubro é o Mês de Conscientização sobre o Câncer de Mama, 
          período dedicado a campanhas que visam alertar sobre a importância do diagnóstico precoce e oferecer apoio a pacientes e sobreviventes.</p>
        <p class="paragrafos">Para mais informações, acesse o site do <a href="https://www.gov.br/inca/pt-br/assuntos/cancer/tipos/mama" 
          target="_blank">Ministério da Saúde</a>.</p>
          <br> 
        </div>
    </div>
</div>


  <div class="footer-basic">
    <footer>
        <ul class="list-inline">
            <li class="list-inline-item"><a href="#Câncer de Mama">Câncer de Mama</a></li>
            <li class="list-inline-item"><a href="#Sobre a IA">Sobre a IA</a></li>
            <li class="list-inline-item"><a href="#Diagnóstico">Diagnóstico</a></li>
            <li class="list-inline-item"><a href="https://github.com/rafaelrlr/Inteligencia_Artificial_Cancer" target="_blank">About Us</a></li>
        </ul>
        <p class="copyright">Breast Cancer AI © 2023</p>
    </footer>
  </div>

  <div class="gtranslate_wrapper"></div>
  <script>window.gtranslateSettings = {"default_language":"pt","languages":["pt","es","en"],"globe_color":"#66aaff","wrapper_selector":".gtranslate_wrapper","horizontal_position":"left","vertical_position":"bottom","alt_flags":{"en":"usa","pt":"brazil"}}</script>
  <script src="https://cdn.gtranslate.net/widgets/latest/globe.js" defer></script>

  {% load static %}
  <script type="text/javascript" src="{% static 'JS/jquery-3.2.1.slim.min.js' %}"></script>
  {% load static %}
  <script type="text/javascript" src="{% static 'JS/popper.min.js' %}"></script>
  {% load static %}
  <script type="text/javascript" src="{% static 'JS/bootstrap.js' %}"></script>
  {% load static %}
  <script type="text/javascript" src="{% static 'JS/app.js' %}"></script>
  {% load static %}
<script type="text/javascript" src="{% static 'integracao.js' %}"></script>
 
  
</body>
</html>



